
#list {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
#list td, #list th {
    border: 1px solid #ddd;
    padding: 8px;
    text-align:center;
}
#list tr:nth-child(even){background-color: #f2f2f2;}
#list tr:hover {background-color: #ddd;}
#list th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #006bb3;
    color: white;
}
#title{
    text-align: center;
}
input[type="button"] ,input[type="submit"] ,input[type="reset"] {
    margin: 10px;
    font-size: 16px;
}
 form {
     width: 50%;
     margin: 0 auto;
 }

table {
    width: 100%;
}
@media (max-width: 1000px) {
    form {
        width: 90%;
        margin: 0; /* 왼쪽 여백 제거 */
    }
}